@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.footer {
    background-color: #242424;
    margin-top: auto;
}

.sb__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.sb__footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    text-align: left;
    justify-content: space-evenly;
}

.sb__footer-links-div {
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
}

h4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFF;
    font-family: Russo One, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}

.div_bloks {
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-align: center;
    font-family: Russo One, sans-serif;
    font-size: 14px;
    font-style: normal;
}

.subscribeitems {
    display: flex;
    width: 177px;
    height: 58px;
    flex-direction: column;
    color: #FFF;
    font-family: Russo One, sans-serif;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.contacts {
    color: #FFF;
    text-align: center;
    font-family: Russo One, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    height: 39px;
    flex-direction: column;
}

.instagram {
    width: 10px;
    height: 10px;
}

.tiktok {
    width: 10px;
    height: 10px;
}

.facebook {
    width: 5px;
    height: 9px;
}

.email {
    width: 12px;
    height: 10px;
}

.phone {
    width: 8px;
    height: 11px;
}
